/* Begin met alle elementen onzichtbaar */
.fade-in {
    opacity: 0 !important;
    /* Zet de opacity op 0, waardoor elementen onzichtbaar zijn */
    transition: opacity 1s ease-in-out !important;
    /* Zorgt voor een vloeiende overgang van de opacity over 1 seconde */
}

/* Wanneer een element de class 'visible' krijgt, wordt het zichtbaar */
.visible {
    opacity: 1 !important;
    /* Zet de opacity op 1, waardoor elementen zichtbaar zijn */
}

.hover-menu {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 9999999;
    background-color: var(--background-color);
}

.hover-menu:hover .dropdown-content {
    display: block;
}