/* Begin met alle elementen onzichtbaar */
.fade-in {
    opacity: 0 !important;
    /* Zet de opacity op 0, waardoor elementen onzichtbaar zijn */
    transition: opacity 1s ease-in-out !important;
    /* Zorgt voor een vloeiende overgang van de opacity over 1 seconde */
}

/* Wanneer een element de class 'visible' krijgt, wordt het zichtbaar */
.visible {
    opacity: 1 !important;
    /* Zet de opacity op 1, waardoor elementen zichtbaar zijn */
}

.footer {
    background-color: var(--bg-accent-color1);
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--text-color);
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}