/* Voor de uitschuifbare lijst met vakken */
#subjects {
    max-height: 0;
    /* Zet de maximale hoogte op 0, waardoor de lijst ingeklapt is */
    overflow: hidden;
    /* Verbergt de inhoud die buiten de maximale hoogte valt */
    transition: max-height 0.5s ease-in-out !important;
    /* Zorgt voor een vloeiende overgang van de hoogte over 0.5 seconde */
}

/* Als de lijst uitgeklapt is */
#subjects.expanded {
    max-height: 200px;
    /* Zet de maximale hoogte op 200px, waardoor de lijst uitgeklapt is */
}

#hobbies {
    display: flex;
    /* Zet het element op flexbox layout */
    align-items: center;
    /* Centreert de items verticaal */
    gap: 20px;
    /* Voegt 20px ruimte toe tussen de items */
    /* Voegt ruimte toe tussen tekst en afbeelding */
}

#hobbies-text {
    max-width: 75%;
    /* Beperkt de breedte van de tekst tot 75% van de container */
    /* Zorgt ervoor dat de tekst niet te breed wordt */
}

#later {
    display: flex;
    /* Zet het element op flexbox layout */
    align-items: center;
    /* Centreert de items verticaal */
    gap: 20px;
    /* Voegt 20px ruimte toe tussen de items */
    /* Voegt ruimte toe tussen tekst en afbeelding */
}

#later-text {
    max-width: 75%;
    /* Beperkt de breedte van de tekst tot 75% van de container */
    /* Zorgt ervoor dat de tekst niet te breed wordt */
}

/* Media query voor schermen kleiner dan 800px */
@media (max-width: 800px) {
    #hobbies-img {
        display: none;
        /* Verbergt de afbeelding */
        /* Verbergt de afbeelding */
    }

    #later-img {
        display: none;
        /* Verbergt de afbeelding */
        /* Verbergt de afbeelding */
    }

    #tctam-logo {
        display: none;
        /* Verbergt het logo */
    }

    #hobbies-text {
        max-width: 100%;
        /* Zet de maximale breedte van de tekst op 100% */
        /* Zorgt ervoor dat de tekst weer breed mag zijn */
    }

    #later-text {
        max-width: 100%;
        /* Zet de maximale breedte van de tekst op 100% */
        /* Zorgt ervoor dat de tekst weer breed mag zijn */
    }

    #hobbies {
        margin-top: 20px !important;
        /* Voegt 20px marge toe aan de bovenkant */
    }

    #later {
        margin-top: 15px !important;
        /* Voegt 15px marge toe aan de bovenkant */
    }
}